body {
    margin: 0;
    margin-top: 81px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

.hd {
	width: 77%;
	margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    color: aliceblue;
}
.bt {
    position: relative;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: none;
    margin: 10px;
    overflow-y:hidden;
}
.rogo {
    
    position: absolute;
    width : 100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
nav > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav > ul > li {
    margin: 10px;
    color: #fff;
    text-decoration: none;
}
nav > ul > li > a{
    color: #fff;
    text-decoration: none;
}

article {
    display: flex;
    justify-content: center;
}
.pd {
    padding: 50px;
}
.atc {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}
table {
    margin-bottom: 20px;
    background-color: rgb(253, 253, 253);
    padding: 10px 80px 10px 10px;
    width: 1000px;
    border-left: 5px solid #369;
    box-shadow: 0px 0px 8px #369;
}



.img {
    width: 150px;
    height: 130px;
    padding: 10px;
}
.img2 {
    width: 100%;
    height: 100%;
}
.rv {
    padding-left: 100px;
}
.rvbt {
    width: 70px;
}

.re {
    width: 100px;
}

.del.check.css, .btn_close {
	background-color: #ffffff;
	border: 1px solid #369;
}

.checkin.css, .check.css{
	font-weight: 600;
}

.re.button, .rvbt.button, .btn_open {
	background-color: #ffffff;
	color: #000000;
	padding: 7px 7px;
	border-radius: 15px;
	border: 1px solid #369;
	font-size: 12px;
	box-shadow: 0px 0px 8px #369;
}

a{text-decoration:none;}

.pop_wrap{position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,.5); font-size:0; text-align:center;}
.pop_wrap:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
.pop_wrap .pop_inner{display:inline-block;
	 padding:20px 30px; 
	 background-image:url("../image/popup.jpg"); 
	 background-repeat: no-repeat;
	 background-size: 100% 100%;
	 width:600px; 
	 height:400px;
	 vertical-align:middle; 
	 font-size:15px;}
	 
.dsc {
	padding-top: 150px;
	font-size: 17px;
	font-weight: 600;
}

.right {
    text-align: right;
}
.pri {
    text-align: right;
    font-weight: bold;
}
footer{
    color: rgba(0,0,0,0.38);
    background-color: rgb(245,245,245);
    padding : 50px;
}
.forms {
	text-align: center;
}