/* header부분*/
body {
    margin: 0;
    margin-top: 81px;
}

a{
	text-decoration: none;
}

.container {
    width: 1024px !important;
    height: 1000px;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px 15px;
}

/*조건설정 부분*/
.con1 {
    width: 340px;
    height: 950px;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
	padding-left: 20px;
}

.ner1 {
    width: 290px;
    height: 150px;
    font-weight: 600;
    padding-top: 20px;
    padding-left:20px
}

.ner2 {
    border-top: 1px solid rgb(125, 122, 122);
    width: 270px;
    height: 130px;
    padding-left: 20px;
}
.boxx{
	text-align: center;
}

.bu {
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    
}
.re {
    background-color: white;
    color: black;
}

.che {
    background: #7cb0edeb;
    color: white;
}

.ner3 {
    width: 290px;
    height: 100px;
    padding-left:20px;
    text-align:center;
    border-top: 1px solid rgb(125, 122, 122);
}
.ner3 h3{
	text-align:left;
}

.p {
    background-size: 20px auto;
    text-indent: -9999px;
    width: 20px;
    border: none;
    cursor: pointer;
}

.minus {
    background: url(https://image.goodchoice.kr/images/web_v3/ico_minus.png) 50% 50% no-repeat;
    margin-right: 50px;
    margin-left: 10px;
}

.plus {
    background: url(https://image.goodchoice.kr/images/web_v3/ico_plus.png) 50% 50% no-repeat;
    margin-left: 50px;
}

.ner4 {
    width: 290px;
    height: 280px;
    padding-left:20px;
    border-top: 1px solid rgb(125, 122, 122);
}

#bom {
    margin-bottom: 30px;
}
input[type=checkbox].choice:checked + label.label_check {
    background-position: 0 -21px;
}

input[type=checkbox].choice + label.label_check {
    padding: 0px 0px 0px  60px;
    height: 21px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 16px;
    line-height: 22px;
    color: rgba(1, 0, 0, 0.72);
    vertical-align: top;
    cursor: pointer;
}
.tum {
    margin-bottom: 30px;
}

input[type=checkbox].choice {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: 30px;
    padding: 0;
    border: 0;
}
label.label_check {
    background-image: url(	https://image.goodchoice.kr/images/web_v3/ico_chk.png);
    background-size: 21px auto;
    user-select: none;
}


.ner5 {
    width: 290px;
    height: 120px;
    padding-left:20px;
    border-top: 1px solid rgb(125, 122, 122);
}

.dropbtn {
    background-color: rgb(191, 151, 233);
    color: white;
    padding: 10px;
    font-size: 12px;
    border: none;
}
.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    background-color: rgb(243, 127, 127);
}
.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}





/* 추천순 ~높은 가격순*/
.con2 {
    width: 680px;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.order {
	margin: 0 20px;
	width:1024px;
    height:46px;
    margin: 0 auto;
    background-color:rgb(230,230,230);
    
}
.order form{
	margin:0px;
	float: right;
}


.room {
    width: 650px;
    height: 800px;
}

.button {
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 5px;
    cursor: pointer;
  }

.button4 {
    background-color: rgb(230,230,230);
    color: black;
    border: 2px solid #e7e7e7;
    border-radius: 22px;
  }
  
.button4:hover {background-color: orange; color: white;}

/*객실*/


.towroom {
    width: 680px;
    height: 100%;
    overflow-y: scroll;
}

.romm {
    width: 640px;
    height: 330px;
    margin: 10px 10px;
    background-size:cover;
}

.romm {
    width: 640px;
    height: 270px;
    margin: 0 10px;
    background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0.5, 0.8) );
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}


.ggumim {
    font-size: 24px;
    color: white;
    font-weight: bold;
    line-height: 0.5;
    padding-left: 15px;
    
}
.font1{
	color: white;
      text-shadow: 1px 1px 2px black;
}
.addr{
	font-size:20px;
}
.price {
    font-size: 22px;
    color: white;
    font-weight: bold;
    padding-right: 15px;
}

.img_sz {
	text-align:center;
	width:95px;
	height:80px;
}

footer{
    color: rgba(0,0,0,0.38);
    background-color: rgb(245,245,245);
    padding : 50px;
}
.select {
	position:relative;
	left:240px;
	bottom:37px;
}
.select p {
 width:100px;background: url("bg_selectbox.gif") no-repeat; font: 12px/20px "돋움", "dotum"; padding: 0px 14px; border: 1px solid rgb(171, 173, 179); height: 20px; color: rgb(51, 51, 51); overflow: hidden; cursor: pointer; font-size-adjust: none; font-stretch: normal;;margin:0 auto;
}
.select p.on {
 background-position: right -160px; border: 1px solid rgb(0, 144, 227); color: rgb(0, 144, 227);
}
.select .sub {
 padding: 6px 0px; border: 1px solid rgb(171, 173, 179); left: 0px; top: 0px; display: none; 
 position: relative; z-index: 10; overflow-x: hidden; overflow-y: hidden; max-height: 168px; 
 background-color: rgb(255, 255, 255);margin:0 auto;
}
.select .sub {
 width: 130px;
}
.select .sub .optionList {
 width: 400px; overflow: hidden; float: left; display: inline-block;cursor:pointer;font: 12px/20px "돋움", "dotum";
}
.select .sub .optionList li:hover{
 background-color: rgb(108, 108, 108);
}
/* .select .sub .optionList:hover li {
 color: rgb(255, 255, 255);
} */
.select .sub .optionList li {
 padding: 5px 15px; color: rgb(51, 51, 51);
}

.select .sub .optionList ul {
	list-style:none;
	padding-left:0px;
}